<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qf.hellojava.mapper.IPermissionMapper">
    <select id="findPermByUserName" resultType="com.qf.hellojava.pojo.Permission" parameterType="string">
        select pname from tb_premission where pid in(SELECT pid from tb_rid_pid where rid in(select rid from tb_u))
    </select>
    <select id="loadAll" resultType="permission">
            select * from tb_permission
        </select>
    <select id="loadByRoleId" resultType="permission" parameterType="int">
            select * from tb_permission where id in(select pid from tb_rid_pid where rid=#{roleId})
        </select>
    <delete id="delRolePerm" parameterType="int" >
            delete from tb_rid_pid where rid=#{roleId}
        </delete>
    <insert id="addRolePerm">
        insert into tb_rid_pid values
        <foreach collection="array" item="pid" separator=",">
            (#{roleId},#{pid})
        </foreach>
    </insert>
</mapper>