<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.hellojava.mapper.IUserMapper">
    <resultMap id="userResult" type="user">
        <id column="uid" property="userId"></id>
        <result column="uname" property="userName"></result>
        <result column="upwd" property="userPwd"></result>
        <result column="email" property="userEmail"></result>
        <result column="creattime" property="createTime"></result>
        <result column="nickname" property="nickName"></result>
        <result column="cardnum" property="cardNum"></result>
        <result column="tel" property="userTel"></result>
        <result column="status" property="userStatus"></result>
        <result column="money" property="userMoney"></result>
        <result column="uload" property="userLoad"></result>
        <result column="img" property="userImg"></result>
   </resultMap>
    <select id="findUserByUserName" resultMap="userResult" parameterType="string">
        select * from tb_users where uname=#{userName}
    </select>
    <insert id="loadReg" parameterType="user">
        insert into tb_users (uid,uname,upwd,status,creattime) values (#{userId},#{userName},(#{userPwd}),#{userStatus},#{createTime})
    </insert>
    <select id="loadUser" resultType="user" parameterType="user">
        select * from tb_users where uname=#{userName} and upwd=md5(#{userPwd})
    </select>
    <select id="loadUserById" resultMap="userResult" parameterType="int">
        select * from tb_users where uid=#{userId}
    </select>
    <select id="loadAllUser" resultMap="userResult">
        select * from tb_users
    </select>
    <select id="getTotalCount" resultType="int" >
        select count(uid) from tb_users
    </select>
    <select id="loadAllUsers" resultMap="userResult" parameterType="string">
        select * from tb_users where uname like '%' #{cont} '%'
    </select>
    <select id="getTotalCounts" resultType="int" parameterType="string">
        select count(uid) from tb_users where uname like '%' #{cont} '%'
    </select>
    <select id="getMaxByUid" resultType="int">
        select max(uid) from tb_users
    </select>
   <insert id="addUser" parameterType="user">
        insert into tb_users (uid,uname,upwd,nickname,status) values (#{userId},#{userName},#{userPwd},#{nickName},#{userStatus})
    </insert>
    <delete id="delUserRole" parameterType="int">
        delete from tb_uid_rid where uid=#{userId}
    </delete>
    <delete id="delUserRoles" parameterType="String">
        delete from tb_uid_rid where uid in
        <foreach collection="array" item="uId" separator="," open="(" close=")">
            #{uId}
        </foreach>
    </delete>
    <delete id="deleteUserById" parameterType="int">
        delete from tb_users where uid=#{userId}
    </delete>
    <delete id="deleteUser" parameterType="String">
        delete from tb_users
        <where>
            userId in
            <foreach collection="array" item="uId" separator="," open="(" close=")">
                #{uId}
            </foreach>
        </where>
    </delete>
    <update id="updateUser" parameterType="user">
        update tb_users set uname=#{userName},nickname=#{userCall},email=#{userEmail} where uId=#{userId}
    </update>
    <delete id="deleteRoleId">
        delete from tb_uid_rid where uid=#{userId} and rid in
            <foreach collection="list" item="rid" separator="," open="(" close=")">
                #{rid}
            </foreach>

    </delete>

    <insert id="addRoleId">
        insert into tb_uid_rid values
        <foreach collection="list" item="rid" separator=",">
            (#{userId},#{rid})
        </foreach>
    </insert>
    <select id="loadStatusByLoginName" parameterType="string" resultType="int">
        select status from tb_users where uname=#{uname}
    </select>

</mapper>