<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.hellojava.mapper.IUserMapper">
    <resultMap id="userResult" type="user">
        <id column="uid" property="userId"></id>
        <result column="uname" property="userName"></result>
        <result column="upwd" property="userPwd"></result>
        <result column="upwd" property="userEmail"></result>
        <result column="creattime" property="createTime"></result>
        <result column="nickname" property="nickName"></result>
        <result column="cardnum" property="cardNum"></result>
        <result column="tel" property="userTel"></result>
        <result column="email" property="userStatus"></result>
   </resultMap>
    <select id="findUserByUserName" resultMap="userResult" parameterType="string">
        select * from tb_users where uname=#{userName}
    </select>
    <insert id="loadReg" parameterType="user">
        insert into tb_users (uname,upwd,email) values (#{userName},(#{userPwd}),#{userEmail})
    </insert>
    <select id="loadUser" resultType="user" parameterType="user">
        select * from tb_users where uname=#{userName} and upwd=md5(#{userPwd})
    </select>
    <select id="loadUserById" resultMap="userResult" parameterType="int">
        select * from tb_users where uid=#{userId}
    </select>
    <select id="loadAllUser" resultMap="userResult">
        select * from tb_users
    </select>
    <select id="getTotalCount" resultType="int" >
        select count(uid) from tb_users
    </select>
    <select id="loadAllUsers" resultMap="userResult" parameterType="string">
        select * from tb_users where uname like '%' #{cont} '%'
    </select>
    <select id="getTotalCounts" resultType="int" parameterType="string">
        select count(uid) from tb_users where uname like '%' #{cont} '%'
    </select>
<!--    <insert id="addUser" parameterType="user">
        insert into tb_users values (default,#{userName},default,#{userCall},#{userEmail})
    </insert>-->
    <delete id="delUserRole" parameterType="int">
        delete from tb_uid_rid where uid=#{userId}
    </delete>
    <delete id="delUserRoles" parameterType="String">
        delete from tb_uid_rid where uid in
        <foreach collection="array" item="uId" separator="," open="(" close=")">
            #{uId}
        </foreach>
    </delete>
    <delete id="deleteUserById" parameterType="int">
        delete from tb_users where uid=#{userId}
    </delete>
    <delete id="deleteUser" parameterType="String">
        delete from tb_users
        <where>
            userId in
            <foreach collection="array" item="uId" separator="," open="(" close=")">
                #{uId}
            </foreach>
        </where>
    </delete>
    <update id="updateUser" parameterType="user">
        update tb_users set uname=#{userName},nickname=#{userCall},email=#{userEmail} where uiserId=#{userId}
    </update>
    <select id="getRole1" resultType="role" parameterType="int">
        select * from tb_roles where roleId not in(select rId from tb_uid_rid where uid=#{userId})
    </select>
    <select id="getRole2" resultType="role" parameterType="int">
        select * from tb_roles where roleId in(select rId from tb_uid_rid where uid=#{userId})
    </select>

    <delete id="deleteRoleId">
        delete from tb_uid_rid where uid=#{userId} and rid in
            <foreach collection="list" item="rid" separator="," open="(" close=")">
                #{rid}
            </foreach>

    </delete>

    <insert id="addRoleId">
        insert into tb_uid_rid values
        <foreach collection="list" item="rid" separator=",">
            (#{userId},#{rid})
        </foreach>
    </insert>

</mapper>