<!DOCTYPE html>
<html lang="UTF-8" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/theme.css">
	<style>
#footer {
    padding: 15px 0;
    background: #fff;
    border-top: 1px solid #ddd;
    text-align: center;
}
	</style>
  </head>
  <body>
 <div class="navbar-wrapper">
      <div class="container">
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			  <div class="container">
				<div class="navbar-header">
				  <a class="navbar-brand" href="index.html" style="font-size:32px;">千锋-创意产品众筹平台</a>
				</div>
            <div id="navbar" class="navbar-collapse collapse" style="float:right;">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                <i class="glyphicon glyphicon-user" th:text="${session.uName}"></i> <span class="caret"></span>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="member"><i class="glyphicon glyphicon-scale"></i> 会员中心</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-comment"></i> 消息</a></li>
                    <li class="divider"></li>
                    <li><a href="index"><i class="glyphicon glyphicon-off"></i> 退出系统</a></li>
                  </ul>
                </li>
              </ul>
            </div>
			  </div>
			</nav>

      </div>
    </div>

    <div class="container theme-showcase" role="main">
      <div class="page-header">
        <h1>实名认证 - 申请</h1>
      </div>

		<ul class="nav nav-tabs" role="tablist">
		  <li role="presentation" ><a href="apply"><span class="badge">1</span> 基本信息</a></li>
		  <li role="presentation" ><a href="loadApply1"><span class="badge">2</span> 资质文件上传</a></li>
		  <li role="presentation" class="active"><a href="apply2"><span class="badge">3</span> 邮箱确认</a></li>
		</ul>
        
		<form role="form" style="margin-top:20px;">
		  <div class="form-group">
			<label for="exampleInputEmail1">邮箱地址</label>
			<input type="text" class="form-control" id="exampleInputEmail1" name="email" placeholder="请输入用于接收验证码的邮箱地址">
              <button type="button" id="email11">发送验证码</button>
<!--              <button type="button" onclick="aaaa()">发送验证码</button>-->
		  </div>
            <div class="form-group">
                <label for="exampleInputTrl">验证码</label>
                <input type="text" class="form-control" id="exampleInputTrl" placeholder="请输入验证码">
            </div>
          <button type="button"  class="btn btn-default">上一步</button>
		  <button type="button" id="addfinsh"  class="btn btn-success">确认完成</button>
		</form>
		<hr>
    </div> <!-- /container -->
        <div class="container" style="margin-top:20px;">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div id="footer">
                        <div class="footerNav">
                             <a rel="nofollow" href="http://www.qf.com">关于我们</a> | <a rel="nofollow" href="http://www.qf.com">服务条款</a> | <a rel="nofollow" href="http://www.qf.com">免责声明</a> | <a rel="nofollow" href="http://www.qf.com">网站地图</a> | <a rel="nofollow" href="http://www.qf.com">联系我们</a>
                        </div>
                        <div class="copyRight">
                            Copyright ?2017-2017qf.com 版权所有
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    <script src="jquery/jquery-2.1.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="script/docs.min.js"></script>
	<script>
        $('#myTab a').click(function (e) {
          e.preventDefault()
          $(this).tab('show')
        });
        // 可以用  要注意button的type属性 不同的浏览器有不同的默认属性
        // function aaaa(){
        //     var email=$('#exampleInputEmail1').val();
        //     //alert(email);
        //     $.post("emailHander",{"email":email},function (data) {
        //         alert(data);
        //         if (data=="ok"){
        //             alert("验证码获取成功");
        //         }
        //     })
        // }
        $('#email11').click(function () {
            var email=$('#exampleInputEmail1').val();
            $.post("emailHander",{"email":email},function (data) {
                if (data=="ok"){
                    alert("验证码获取中,请稍等");
                }
            })
        });
        $("#addfinsh").click(function () {
            var num=$('#exampleInputTrl').val();
            var email=$('#exampleInputEmail1').val();
            $.post("addRealUser",{"num":num,"email":email},function (data) {
                if (data==1){
                    alert("提交成功，等待审核");
                    location.href="member";
                } else if(data==0){
                    alert("提交失败，请重试或询问客服");
                }else if(data==2){
                    alert("验证码错误，请重试");
                }
            })
        })
	</script>
  </body>
</html>