
<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
<link href="css/css.css" rel="stylesheet">
<link href="favicon.ico" rel="SHORTCUT ICON">
<title>千锋-创e金融平台</title>
</head>
<body>
<!--head-->
<div class="top">
  <div class="wrap clearfix">
    <em class="myfont">&#xe632;</em><span class="songti">服务热线：</span><span class="tel">400-121-8232</span>
    <a href="#" target="_blank" class="ico weibo"></a>
    <a href="#" target="_blank" class="ico weixin"></a>
    <a href="#" target="_blank" class="ico qq"></a>
    <span class="fr"><a href="loginview" class="loginbtn">登录</a><a href="regview" class="o regbtn">免费注册</a><a href="about.html">帮助中心</a></span>
  </div>
</div>
<div class="head">
  <div class="wrap pct-h clearfix">
    <a href="index.html" class="logo indent"></a>
    <ul class="nav">
      <li><a href="indexview">首页</a></li>
      <li><a href="loginview">我要投资</a></li>
      <li><a href="loginview">我要借款</a></li>
      <li><a href="about.html">关于我们</a></li>
    </ul>
  </div>
</div>
<!--banner-->
<div class="banner">
  <div id="inner">
    <div class="hot-event">
      <div class="switch-nav">
        <a href="#" onClick="return false;" class="prev"><i class="ico i-prev"></i><span class="hide-clip">上一个</span></a>
        <a href="#" onClick="return false;" class="next"><i class="ico i-next"></i><span class="hide-clip">下一个</span></a>
      </div>
      <div class="event-item" style="background-color:#c20000; background-image:url(images/imgtt.jpg);"><a href="index.html" title="创e金融"></a></div>
      <div class="event-item" style="background-color:#c20000; background-image:url(images/imgtt.jpg);"><a href="index.html" title="创e金融"></a></div>
      <div class="event-item" style="background-color:#c20000; background-image:url(images/imgtt.jpg);"><a href="index.html" title="创e金融"></a></div>
      <div class="switch-tab"></div>
      <div class="regbox">
        <h2>预期年化收益率</h2>
        <h1>12<span>%</span> -14<span>%</span></h1>
        <a href="regview" class="button btn-reg regbtn">免费注册</a>
        <p class=" mt10 tr"><a href="javascript:;" class="button btn-login loginbtn">马上登录</a></p>
      </div>
    </div>
  </div>
</div>

<!--Platform-data-->
<div class="Platform-data">
  
  <div class="wrap bd clearfix">
    <div class="item">
      <div class="ico-data data1 indent"></div>
      <b class="f14">高收益灵活投资</b><br>50元起投<br>预期12%-14%年化收益率<br>投资90天后即可债权转让
    </div>
    <div class="item">
      <div class="ico-data data2 indent"></div>
      <b class="f14">一站式借款服务</b><br>无抵押信用贷款<br>24小时放款<br>提前还款可减免服务费
    </div>
    <div class="item">
      <div class="ico-data data3 indent"></div>
      <b class="f14">全方位安全保障</b><br>5道安全防线<br>100%本金保障计划<br>专业的第三方资金托管
    </div>
    <div class="item">
      <div class="ico-data data4 indent"></div>
      <b class="f14">雄厚实力</b><br>十一家子公司<br>小额贷款公司<br>担保公司
    </div>
  </div>
</div>
<script src="js/jquery.js"></script>
<script src="js/Action.js"></script>
<script src="js/waste.js"></script>
<script src="js/banner.js"></script>
<script src="js/jQuery-jcMarquee.js"></script>
<script>
$(function(){
    $('#Marquee_x').jcMarquee({ 'marquee':'x','margin_right':'10px','speed':20 });	
	$(".loginbtn").click(function(){
		$(".Pop-up").show();
		$(".pop-bd").slideDown(500);
		$("#form2").hide().siblings("#form1").show();
	});
	$(".regbtn").click(function(){
		$(".Pop-up").show();
		$(".pop-bd").slideDown(500);
		$("#form1").hide().siblings("#form2").show();
	});
	$("#btnreg").click(function(){$(this).parents("#form1").hide().siblings("#form2").show();})
	$("#btnlogin").click(function(){$(this).parents("#form2").hide().siblings("#form1").show();})
	$(".close").click(function(){$(this).parents(".Pop-up").hide().find(".pop-bd").hide()});
	
	$(".form .form-control").each(function(){
		var thisVal=$(this).val();
		if(thisVal!=""){
			$(this).siblings("span").hide();
		}
		else{
			$(this).siblings("span").show();
		}
		$(this).focus(function(){
			$(this).siblings("span").hide().parents("label").css("z-index","10009").siblings("label").css("z-index","10008");
		}).blur(function(){
			var val=$(this).val();
			if(val!=""){
				$(this).siblings("span").hide().siblings("label").css("z-index","10008");
				}
			else{
				$(this).siblings("span").show().siblings("label").css("z-index","10008");
			} 
		});
	});
});
</script>

</body>
</html>